####################################################
# COMMON RULES FOR THE ENTIRE MONOREPO
####################################################

# Dependencies
**/node_modules/

# Build output
**/dist/
**/build/
**/coverage/

# Environment files
**/.env
**/.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# IDE
.vscode/
.idea/

# Operating System
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Runtime / generated folders
AS-backend/apminsightdata/