report.*.json

pids/
*.pid
*.seed
*.pid.lock

lib-cov

.nyc_output

.parcel-cache

.next
.nuxt
.output
.temp

.svelte-kit/

.serverless/

.firebase/

.dynamodb/

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

vite.config.js.timestamp-*
vite.config.ts.timestamp-*